
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ko" lang="ko">

<head>
  <title>DR.Ro | 안내메일</title>
  <meta name="viewport" http-equiv="Content-Type" content="text/html; charset=utf-8 ;width=device-width, initial-scale=1.0" />
</head>

<body style="margin:0; padding:0;">
  <div align="left" style="width:842px;font-size:14px; color:#424242; font-family:'Malgun Gothic','맑은 고딕','Dotum','돋움';">
    <table width="842" border="0" cellpadding="0" cellspacing="0" style="font-size:13px; color:#424242; text-align:center; font-family:'Malgun Gothic','맑은 고딕','Dotum','돋움';width:842px;vertical-align: top;background: url('${imgUrl}') no-repeat 0 0;background-size: 842px 669px">
      <!-- header -->
      <tr bgcolor="#21d4d9">
        <td align="center" style="height:103px;">
          <img src="../../resource/images/mail_logo.png" border="0" alt="DR.Ro" style="width:73px;height:44px;display: inline-block;margin-top: 30px" /></span>
        </td>
      </tr>
      <!-- content -->
      <tr>
        <td align="center" bgcolor="" style="font-size: 14px;color:#424242;height: 479px;">
          <table cellpadding="0" cellspacing="0" border="0" width="100%" style="width:752px;height: 451px;background: url(${imgUrl}mail_con_bg.png) no-repeat 0 0;background-size: 752px 451px">
            <tr>
              <td align="center" bgcolor="" style="height: 153px;">
                <strong style="display: block;font-size: 18px;color:#ffffff;font-weight: bold;letter-spacing: -1px;margin-bottom: 12px">임시 비밀번호 안내</strong>
                <span style="font-size: 13px;color:#ffffff;line-height: 1.5;font-weight: bold;letter-spacing: -1px">안녕하세요, 닥터로 서비스 계정의 임시 비밀번호를 발급해 드립니다.<br/>사이트를 접속하여 임시 비밀번호를 변경해 주세요</span>
              </td>
            </tr>
            <tr>
              <td align="center" style="height: 298px;">
                <span style="display: block;width:429px;height:74px ;margin-bottom: 15px;color:#424242;font-size: 14px;font-weight: bold;line-height: 74px;text-align: center;background:#f4f9fc;border:1px solid #e3e3e3">${randomPwd}</span>
                <span style="color:#424242;font-size: 13px;font-weight: bold;line-height: 1.4">위 내용이 회원님께서 요청하신 것이 아니면 고객센터로 신고 바랍니다.<br/>닥터로 서비스를 이용해 주셔서 감사합니다.</span>
                <a href="${loginUrl}" style="display: block;height:49px ;line-height: 49px;width: 279px;text-align: center;color: #ffffff;font-size:14px;font-weight:bold;background:#21d4d9;text-decoration: none;margin-top: 35px;margin-bottom: 25px">웹으로 이동<span style="display: inline-block;width: 26px;height:11px;margin-left:10px;background: url(${imgUrl}mail_arrow.png) no-repeat 0 0;background-size: 26px 11px"></span></a>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <!-- footer -->
      <tr>
        <td align="center" bgcolor="#f4f9fc" style="height:100px;padding-bottom: 35px;padding-top: 15px">
          <span style="display: block;color:#424242;font-size: 12px;font-weight: bold;letter-spacing: -.5px;line-height: 1.3">서울특별시 강남구 도곡로 117 옥신타워 8층(06253)</span>
          <span style="display: block;color:#9b9b9b;font-size: 12px;font-weight: 500;letter-spacing: -.5px">Copyright Ⓒ Doktoro. All rights reserved</span>
        </td>
      </tr>
    </table>
  </div>
</body>

</html>