<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.doctorro.user.join.dao.JoinDao">

    <select id="nickCheck" parameterType="String" resultType="java.lang.Integer">
        SELECT COUNT(*)
		FROM user
		where m_nick = #{m_nick}
    </select>

    <select id="emailCheck" parameterType="String" resultType="java.lang.Integer">
        SELECT COUNT(*)
		FROM auth
		where au_email = #{au_email} and roll_code = '1'
    </select>
	
	<!-- user:1, doctor:2, admin:3 -->
	<insert id="insertAuth" parameterType="com.doctorro.user.join.dto.MemberDTO">
	insert into auth (au_email, roll_code, au_pwd, au_enabled) 
	values(#{au_email},'1',#{au_pwd},1)
	</insert>

	
	<select id="getSeq" parameterType="String" resultType="java.lang.Integer">
	select au_seq from auth where au_email= #{au_email}
	</select> 
	
    <insert id="insertUser" parameterType="com.doctorro.user.join.dto.MemberDTO">
      insert into user (au_seq,m_nick,m_img,m_regdate,m_gender,m_mPush,m_mMail,so_code
      	<if test="m_mPush != null">
      	,m_mPushdate
      	</if>
      	<if test="m_mMail != null">
      	,m_mMaildate
      	</if>
      	)
      values(#{au_seq},#{m_nick},#{m_img},NOW(),#{m_gender},#{m_mPush},#{m_mMail},#{so_code}
     	 <if test="m_mPush != null">
      	,NOW()
      	</if>
      	<if test="m_mMail != null">
      	,NOW()
      	</if>
      	)
  	</insert>

</mapper>