<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.doctorro.user.login.dao.LoginDao">

<select id="getPass" parameterType="String"
							resultType="String">
	 select m_pwd from user where m_email = #{m_email}
	</select>

</mapper>