<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.doctorro.user.notice.dao.NoticeDao">

	<select id="getFirstList"
		resultType="com.doctorro.user.notice.dto.NoticeDto">
		select no_seq, au_seq, t_seq, no_title, no_content,
		DATE_FORMAT(no_regdate,'%Y-%m-%d') no_regdate, no_isFirst, no_hit,
		ni_seq
		from notice
		where no_isFirst='Y'
		order by no_seq desc
	</select>

	<select id="getNoticeList"
		parameterType="com.doctorro.common.PagingDTO"
		resultType="com.doctorro.user.notice.dto.NoticeDto">
		select no_seq, au_seq, t_seq, no_title, no_content,
		DATE_FORMAT(no_regdate,'%Y-%m-%d') no_regdate, no_isFirst, no_hit,ni_seq
		from notice where no_isFirst IS NULL
		order by no_seq desc
		limit
		#{index},#{listCnt}
	</select>

	<select id="getTotal" resultType="int">
		select count(*) from notice where no_isfirst is null
	</select>

	<select id="getView" parameterType="int"
		resultType="com.doctorro.user.notice.dto.NoticeDto">
		select no_seq, au_seq, t_seq, no_title, no_content,
		DATE_FORMAT(no_regdate,'%Y-%m-%d') no_regdate, no_isFirst, no_hit,ni_seq
		from notice
		where no_seq=#{no_seq}
	</select>
	
	<select id="selectImg" parameterType="integer"
		resultType="java.lang.String">
		select ni_name from notice_img where no_seq=#{no_seq} order by ni_seq desc
	</select>
	
	<update id="updateHit" parameterType="int">
		update notice
		set no_hit =
		no_hit+1
		where no_seq=#{no_seq}
	</update>
	
	<select id="getTag" parameterType="integer"
		resultType="java.lang.String">
		select tag_name from tag where tag_seq=#{tag_seq}
	</select>
</mapper>