<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.doctorro.common.CommonUtillDao">

	<update id="passChange" parameterType="java.util.HashMap">
		update auth
		set au_pwd = #{au_pwd} where au_email = #{au_email}
	</update>

</mapper>