        <div class="contents">
            <div class="title_box hidden-xs">
                <h3 class="title">이벤트</h3>
            </div>
            <div class="view_wrap">
                <div class="view_title">
                    <span class="status">진행중</span>
                    <strong>[이벤트]제목이 보여집니다.제목이 보여집니다.제목이 보여집니다.</strong>
                    <div class="add_info">
                        <span class="view_num">조회 <span>153</span></span>
                        <span class="date">2019.01.15</span>
                    </div>
                </div>
                <div class="view_con">
                    <img src="../../resource/images/health_img02.jpg" alt="">
                    <p>내용이 보여집니다.</p>
                    <p>내용이 보여집니다.</p>
                    <p>내용이 보여집니다.</p>
                    <p>내용이 보여집니다.</p>
                    <p>내용이 보여집니다.</p>
                </div>
                <div class="view_bottom">
                    <div class="add_file">
                        <a href="#">건강검진.jpg</a>
                        <a href="#">문진표.jpg</a>
                        <a href="#">주의사항.jpg</a>
                    </div>
                </div>
                <div class="bottom_btn hidden-xs">
                    <a href="#" class="list_btn">목록</a>
                </div>
            </div>
        </div>