        <div class="contents pd0">
            <div class="title_box hidden-xs">
                <h3 class="title">이벤트</h3>
            </div>
            <div class="event_list">
                <ul>
                    <li>
                        <a href="#">
                            <div class="event_txt">
                                <span class="status">진행중</span>
                                <strong>대한민국 명의를 찾아라!<br/>위암 명의를 추천해 주세요</strong>
                                <p>대한민국 명의를 찾아라!</p>
                                <span class="date">2018.02.05~2018.02.15</span>
                            </div>
                            <span class="event_img">
                                <img src="../../resource/images/event/event_img01.jpg" alt="">
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="event_txt">
                                <span class="status">진행중</span>
                                <strong>대한민국 명의를 찾아라!<br/>위암 명의를 추천해 주세요</strong>
                                <p>대한민국 명의를 찾아라!</p>
                                <span class="date">2018.02.05~2018.02.15</span>
                            </div>
                            <span class="event_img">
                                <img src="../../resource/images/event/event_img01.jpg" alt="">
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="event_txt">
                                <span class="status">진행중</span>
                                <strong>대한민국 명의를 찾아라!<br/>위암 명의를 추천해 주세요</strong>
                                <p>대한민국 명의를 찾아라!</p>
                                <span class="date">2018.02.05~2018.02.15</span>
                            </div>
                            <span class="event_img">
                                <img src="../../resource/images/event/event_img01.jpg" alt="">
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="event_txt">
                                <span class="status">진행중</span>
                                <strong>대한민국 명의를 찾아라!<br/>위암 명의를 추천해 주세요</strong>
                                <p>대한민국 명의를 찾아라!</p>
                                <span class="date">2018.02.05~2018.02.15</span>
                            </div>
                            <span class="event_img">
                                <img src="../../resource/images/event/event_img01.jpg" alt="">
                            </span>
                        </a>
                    </li>
                    <li class="evnet_end">
                        <a href="#">
                            <div class="event_txt">
                                <span class="status">종료</span>
                                <strong>대한민국 명의를 찾아라!<br/>위암 명의를 추천해 주세요위암 명의를 추천해 주세요</strong>
                                <p>대한민국 명의를 찾아라!</p>
                                <span class="date">2018.02.05~2018.02.15</span>
                            </div>
                            <span class="event_img">
                                <img src="../../resource/images/event/event_img01.jpg" alt="">
                            </span>
                        </a>
                    </li>
                    <li class="evnet_end">
                        <a href="#">
                            <div class="event_txt">
                                <span class="status">종료</span>
                                <strong>대한민국 명의를 찾아라!<br/>위암 명의를 추천해 주세요위암 명의를 추천해 주세요</strong>
                                <p>대한민국 명의를 찾아라!</p>
                                <span class="date">2018.02.05~2018.02.15</span>
                            </div>
                            <span class="event_img">
                                <img src="../../resource/images/event/event_img01.jpg" alt="">
                            </span>
                        </a>
                    </li>
                    <li class="evnet_end">
                        <a href="#">
                            <div class="event_txt">
                                <span class="status">종료</span>
                                <strong>대한민국 명의를 찾아라!<br/>위암 명의를 추천해 주세요위암 명의를 추천해 주세요</strong>
                                <p>대한민국 명의를 찾아라!</p>
                                <span class="date">2018.02.05~2018.02.15</span>
                            </div>
                            <span class="event_img">
                                <img src="../../resource/images/event/event_img01.jpg" alt="">
                            </span>
                        </a>
                    </li>
                    <li class="evnet_end">
                        <a href="#">
                            <div class="event_txt">
                                <span class="status">종료</span>
                                <strong>대한민국 명의를 찾아라!<br/>위암 명의를 추천해 주세요위암 명의를 추천해 주세요</strong>
                                <p>대한민국 명의를 찾아라!</p>
                                <span class="date">2018.02.05~2018.02.15</span>
                            </div>
                            <span class="event_img">
                                <img src="../../resource/images/event/event_img01.jpg" alt="">
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="paging hidden-xs">
                <ul class="pagination">
                <li class="arrow first"><a href="#"></a></li>
                <li class="arrow prev disable"><a href="#"></a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li class="arrow next"><a href="#"></a></li>
                <li class="arrow last"><a href="#"></a></li>
                </ul>
            </div>
        </div>